body {
    background-color: rgb(17, 194, 218);
}

img {
    height: 115px;
    width: 115px;
    display: inline;
    padding: 0;
}

#size-image {
    width: 250px;
}

.meal-name {
    display: inline;
}

.images-flavor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: groove;
}
#order{
    color: crimson;
    text-align: center;
    font-weight: bolder;
    background-color: white;
}
#orders-all{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: groove;
}